<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="./styles/style.css">
    <title>Bookstore!</title>
</head>

<body>
    <div id="vue_app" class="container-fluid">

        <header>
            <div class="container-fluid">

                <div class="bg-custom-2 row page-header">


                    <div
                        class="d-inline-flex align-items-center justify-content-center justify-content-md-start col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 logo-container navbar-text">
                        <img class="logo image-fluid " src="./assets/BcaKKBR7i.png" alt="logo">
                        <h1 class="logo-text text-white">
                            Bookstore
                        </h1>
                    </div>

                    <div
                        class="d-inline-flex align-items-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-text">
                        <div class="input-group p-3">
                            <input class="form-control" id="searchBar" type="text" placeholder="Search">
                            <div class="input-group-append">
                                <span class="input-group-text font-weight-bold bg-custom-3">
                                    Language:
                                </span>
                                <select class="input-group-text bg-custom-3" name="language" id="languageSelector">
                                    <option value="All" selected>All</option>
                                    <template v-for="language in fullLanguagesList">
                                        <option v-bind:value="language"> {{language}} </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <div v-for="book in filteredBookList" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-3">
                <div class="card-flip h-100">
                    <div class="card card-front bg-custom">
                        <img class="img-fluid book-cover" v-bind:src="book.cover">
                    </div>
                    <div class="card-back text-white bg-custom h-100 d-flex">
                        <div class="card-body">
                            <h2 class="card-title">{{book.title}}</h2>
                            <div class="card-text">{{book.description}}</div>
                            <div class="d-flex p-3 align-items-center justify-content-center">
                                <a v-bind:href="book.detail" data-fancybox>
                                    <img v-bind:src="book.detail" class="img-thumbnail book-detail">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

        </div>


    </div>

    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <!-- Optional JavaScript -->
    <script src="./scripts/script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>

</html>